$small: 768px;
$large: 992px;

$color-white: #ffffff;
$color-light: #b9b9b9;
$color-blue: #1875c4;
$color-blue-dark: #286782;
$color-black: #2e2e2e;
$color-grey-light: #fbfafa;
$color-grey: #fbfafa;
$color-grey-dark: #555559;
