<article class="hotdog-list">

	<section class="section">
		<div class="wrapper">
			<div class="content beef">
				<div class="item">&#8212;</div>
				<h2>Gormet All Beef Hotdogs</h2>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="wrapper">
			<img src="/assets/images/hotdogs-all-beef.jpg" alt="Gormet All Beef Hotdogs">
		</div>
	</section>


	<section class="section">
		<div class="wrapper">
			<img src="/assets/images/hotdogs-vegan.jpg" alt="Vegan Hotdogs">
		</div>
	</section>


	<section class="section">
		<div class="wrapper">
			<div class="content vegan">
				<div class="item">&#8212;</div>
				<h2>Vegan Hotdogs</h2>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="wrapper">
			<div class="content vegitarian">
				<div class="item">&#8212;</div>
				<h2>Vegitarian Hotdogs</h2>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="wrapper">
			<img src="/assets/images/hotdogs-vegitarian.jpg" alt="Vegitarian Hotdogs">
		</div>
	</section>

</article>
